.animation-card {
  transform: translateY(40px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;

  @for $i from 1 through 15 {
    &[data-id="#{$i}"] {
      transition-delay: getAnimationDelay($i);
    }
  }
}

.animation-card.visible {
  transform: translateY(0);
  opacity: 1;
}
